@font-face {font-family: "futura";
  src: url("../Fonts/futura/Futura.eot"); /* IE9*/
  src: url("../Fonts/futura/Futura.eot?#iefix") format("embedded-opentype"), 
  url("../Fonts/futura/Futura.woff") format("woff"), 
  url("../Fonts/futura/Futura.ttf") format("truetype"),
  url("../Fonts/futura/Futura.svg#futura") format("svg"); 
}

@font-face {
    font-family: 'sofia_prolight';
    src: url('../Fonts/sofia/SofiaProLight-webfont.eot');
    src: url('../Fonts/sofia/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/sofia/SofiaProLight-webfont.woff') format('woff'),
         url('../Fonts/sofia/SofiaProLight-webfont.ttf') format('truetype'),
         url('../Fonts/sofia/SofiaProLight-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_pro_regular';
    src: url('../Fonts/sofia/SofiaProRegular-webfont.eot');
    src: url('../Fonts/sofia/SofiaProRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/sofia/SofiaProRegular-webfont.woff') format('woff'),
         url('../Fonts/sofia/SofiaProRegular-webfont.ttf') format('truetype'),
         url('../Fonts/sofia/SofiaProRegular-webfont.svg#sofia_pro_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_proregular_italic';
    src: url('../Fonts/sofia/SofiaProRegularIt-webfont.eot');
    src: url('../Fonts/sofia/SofiaProRegularIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/sofia/SofiaProRegularIt-webfont.woff') format('woff'),
         url('../Fonts/sofia/SofiaProRegularIt-webfont.ttf') format('truetype'),
         url('../Fonts/sofia/SofiaProRegularIt-webfont.svg#sofia_proregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_promedium';
    src: url('../Fonts/sofia/SofiaProMedium-webfont.eot');
    src: url('../Fonts/sofia/SofiaProMedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/sofia/SofiaProMedium-webfont.woff') format('woff'),
         url('../Fonts/sofia/SofiaProMedium-webfont.ttf') format('truetype'),
         url('../Fonts/sofia/SofiaProMedium-webfont.svg#sofia_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_promedium_italic';
    src: url('../Fonts/sofia/SofiaProMediumIt-webfont.eot');
    src: url('../Fonts/sofia/SofiaProMediumIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/sofia/SofiaProMediumIt-webfont.woff') format('woff'),
         url('../Fonts/sofia/SofiaProMediumIt-webfont.ttf') format('truetype'),
         url('../Fonts/sofia/SofiaProMediumIt-webfont.svg#sofia_promedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sofia_prosemi_bold';
    src: url('../Fonts/sofia/SofiaProSemiBold-webfont.eot');
    src: url('../Fonts/sofia/SofiaProSemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/sofia/SofiaProSemiBold-webfont.woff') format('woff'),
         url('../Fonts/sofia/SofiaProSemiBold-webfont.ttf') format('truetype'),
         url('../Fonts/sofia/SofiaProSemiBold-webfont.svg#sofia_prosemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_prosemi_bold_italic';
    src: url('../Fonts/sofia/SofiaProSemiBoldIt-webfont.eot');
    src: url('../Fonts/sofia/SofiaProSemiBoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/sofia/SofiaProSemiBoldIt-webfont.woff') format('woff'),
         url('../Fonts/sofia/SofiaProSemiBoldIt-webfont.ttf') format('truetype'),
         url('../Fonts/sofia/SofiaProSemiBoldIt-webfont.svg#sofia_prosemi_bold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


